<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OMAWI</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  </head>

  <body>
    <section class="hero is-primary is-fullheight">

      <div class="hero-head">
        <nav class="navbar has-shadow-primary">
          <!-- logo -->
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="app logo" style="max-height: 70px" class="py-2 px-2">
            </a>
            <a class="navbar-burger" id="burger" role="button" aria-label="menu" aria-expanded="false">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>

          <div id="navbar-links" class="navbar-menu">
            <div class="navbar-end">
              <a href="{{ url_for('app_main.index') }}" class="navbar-item">
                Home
              </a>
              <a href="{{ url_for('app_main.profile') }}" class="navbar-item">
                Profile
              </a>
              <a href="{{ url_for('app_main.songs') }}" class="navbar-item">
                Songs
              </a>
              <a href="{{ url_for('app_auth.login') }}" class="navbar-item">
                Login
              </a>
              <a href="{{ url_for('app_auth.signup') }}" class="navbar-item">
                Sign Up
              </a>
              <a href="{{ url_for('app_auth.logout') }}" class="navbar-item">
                Logout
              </a>
            </div>
          </div>
        </nav>
      </div>

      <div class="hero-body">
        <div class="container has-text-centered">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    <!-- <script type="module" src="{{ url_for('static', filename='scripts/audio_mixer.js') }}"></script> -->
    <script type="module" src="{{ url_for('static', filename='scripts/songs.js') }}"></script>
  </body>

</html>
