{% extends "base.html" %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <!-- media player -->
          <div class="audio-player">
              <audio id="soprano" controls>
                  <source src="{{ url_for('static', filename='assets/audio/sample.mp3') }}" type="audio/mpeg">
                  Your browser does not support the audio element.
              </audio>
              <audio id="alto" controls>
                  <!-- <source src="{{ url_for('static', filename='audio/alto.mp3') }}" type="audio/mpeg"> -->
                  Your browser does not support the audio element.
              </audio>
              <audio id="tenor" controls>
                  <!-- <source src="{{ url_for('static', filename='audio/tenor.mp3') }}" type="audio/mpeg"> -->
                  Your browser does not support the audio element.
              </audio>
              <audio id="bass" controls>
                  <!-- <source src="{{ url_for('static', filename='audio/bass.mp3') }}" type="audio/mpeg"> -->
                  Your browser does not support the audio element.
              </audio>
              <div class="controls">
                <button class="button" id="play-pause">
                  <span>
                    <i class="fas fa-play"></i>
                    <!-- <i class="fa-solid fa-pause"></i> -->
                  </span>
                </button>
                <input type="range" id="volumn-control" min="0" max="1" step="0.01" value="0.5">
              </div>
              <div class="progress">
                <div class="progress-bar" id="progress-bar"></div>
              </div>
              <div id="current-time">0:00</div>
              <div id="total-time">0:00</div>
          </div>
          <div class="container">
            <button class="button" id="mute-all">
              <span class="icon">
                <i class="fas fa-volume-xmark"></i>
              </span>
              <span>All</span>
            </button>
            <button class="button" id="unmute-all">
              <span class="icon">
                <i class="fas fa-volume-high"></i>
              </span>
              <span>All</span>
            </button>
            <button class="button" id="mute-soprano">
              <span class="icon">
                <i class="fas fa-volume-high"></i>
              </span>
              <span>Soprano</span>
            </button>
            <button class="button" id="mute-alto">
              <span class="icon">
                <i class="fas fa-volume-high"></i>
              </span>
              <span>Alto</span>
            </button>
            <button class="button" id="mute-tenor">
              <span class="icon">
                <i class="fas fa-volume-high"></i>
              </span>
              <span>Tenor</span>
            </button>
            <button class="button" id="mute-bass">
              <span class="icon">
                <i class="fas fa-volume-high"></i>
              </span>
              <span>Bass</span>
            </button>
          </div>
        </div>
        <div class="column is-8">
          <!-- lyrics -->
          <!-- {% for verse in verses %}
            <p class="container">{{ verse.number }}. {{ verse.lyrics }}</p>
          {% endfor %} -->
            <p class="mb-4">1. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa quaerat exercitationem quo consectetur dolores maxime fugiat voluptatum officiis expedita neque!</p>
            <br>
            <p class="mb-4">2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus molestiae suscipit ipsa dolore architecto animi magnam consequatur minus aliquam ad.</p>
            <br>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
