{% extends "base.html" %}

{% block content %}
  <section class="section">
    <div class="container">
      <!-- <div class="columns"> -->
        <!-- <div class="column is-5"> -->
          <!-- media player -->
          <div id="audio-player" class="box m-4">
            <p class="mb-4">Press PLAY to learn the melody</p>
            <div class="container" style="display: none;">
              <audio id="soprano" controls>
                <source src="{{ url_for('static', filename='assets/audio/soprano.m4a') }}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
              <audio id="alto" controls>
                <!-- <source src="{{ url_for('static', filename='audio/alto.mp2') }}" type="audio/mpeg"> -->
                <source src="{{ url_for('static', filename='assets/audio/alto.m4a') }}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
              <audio id="tenor" controls>
                <!-- <source src="{{ url_for('static', filename='audio/tenor.mp2') }}" type="audio/mpeg"> -->
                <source src="{{ url_for('static', filename='assets/audio/tenor.m4a') }}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
              <audio id="bass" controls>
                <!-- <source src="{{ url_for('static', filename='audio/bass.mp2') }}" type="audio/mpeg"> -->
                <source src="{{ url_for('static', filename='assets/audio/bass.m4a') }}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </div>
            <div class="container" style="margin-top: 0.5rem; margin-bottom: 0.2rem;">
              <div class="controls">
                <div class="container">
                  <button class="button is-small" id="play-pause" style="margin-right: 1.5rem;">
                    <span>
                      <i class="fas fa-play"></i>
                    </span>
                  </button>
                  <button class="button is-small" id="music-tools" style="margin-right: 1.5rem;">
                    <span>
                      <i class="fas fa-music"></i>
                    </span>
                  </button>
                  <label for="volume-control">
                    <span class="icon is-small is-clickable">
                      <i class="fas fa-volume-high"></i>
                    </span>
                  </label>
                  <input type="range" id="volume-control" class="is-clickable" min="0" max="1" step="0.01" value="1">
                </div>
              </div>
            </div>
            <div class="section" style="padding: 1rem;">
              <input id="progress-bar" type="range" class="is-small is-clickable" value="0" min="0" max="100" step="0.01" style="margin-bottom: 0; width: 100%;">
              <!-- </progress> -->
              <div class="container">
                <div class="columns is-mobile">
                  <div class="column is-half has-text-left" id="current-time">0:00</div>
                  <div class="column is-half has-text-right" id="total-time">0:00</div>
                </span>
              </div>
            </div>
          </div>
          <!-- muting control -->
          <div class="container" style="margin-bottom: 1rem;">
            <button class="button" id="mute-all">
              <span class="icon">
                <i class="fas fa-volume-xmark"></i>
              </span>
              <span>All</span>
            </button>
            <button class="button" id="unmute-all">
              <span class="icon">
                <i class="fas fa-volume-high"></i>
              </span>
              <span>All</span>
            </button>
            <button class="button" id="mute-soprano">
              <span class="icon">
                <i class="fas fa-volume-high"></i>
              </span>
              <span>Soprano</span>
            </button>
            <button class="button" id="mute-alto">
              <span class="icon">
                <i class="fas fa-volume-high"></i>
              </span>
              <span>Alto</span>
            </button>
            <button class="button" id="mute-tenor">
              <span class="icon">
                <i class="fas fa-volume-high"></i>
              </span>
              <span>Tenor</span>
            </button>
            <button class="button" id="mute-bass">
              <span class="icon">
                <i class="fas fa-volume-high"></i>
              </span>
              <span>Bass</span>
            </button>
          </div>
          </div>
        <!-- </div> -->
        <div class="container px-6 has-text-white">
          <h4 class="has-text-weight-semibold">LYRICS</h4>
          <!-- lyrics -->
          <!-- {% for verse in verses %}
            <p class="mb-5">{{ verse.number }}. {{ verse.lyrics }}</p>
          {% endfor %} -->
          <p class="mb-5">1. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa quaerat exercitationem quo consectetur dolores maxime fugiat voluptatum officiis expedita neque!</p>
          <p class="mb-5">2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus molestiae suscipit ipsa dolore architecto animi magnam consequatur minus aliquam ad.</p>
        </div>
      <!-- </div> -->
    </div>
  </section>
{% endblock %}
